{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Courses</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="{% static 'upskill/img/favicon.ico' %}" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'upskill/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'upskill/css/style.css' %}" rel="stylesheet">
</head>

<body>

<!-- Header -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">{{ subject.title }}</h1>
    </div>
</div>

<!-- Courses -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">

            {% for course in courses %}
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2"
                   href="{% url 'course_detail' course.slug %}">
                   
                    <img class="img-fluid" src="{% static 'upskill/img/courses-1.jpg' %}" alt="">
                    
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            {{ course.title }}
                        </h4>

                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white">
                                    <i class="fa fa-user mr-2"></i>
                                    {{ course.owner.full_name|default:"Instructor" }}
                                </span>
                                <span class="text-white">
                                    <i class="fa fa-clock mr-2"></i>
                                    {{ course.created_at|date:"Y-m-d" }}
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <h4>Bu bo‘limda hozircha kurslar yo‘q</h4>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'upskill/js/main.js' %}"></script>

</body>
</html>
